In [1]:
import pandas as pd
import json

In [8]:
tigie = pd.read_excel("tigie-scian/tigie.xlsx",
              usecols=["partida", "scian", "subsector", "descripcion"],
              dtype={"partida":str, "scian":str, "subsector":str})

my_dict = tigie.to_dict()

tf = open("tigie-scian/tigie.json", "w")
json.dump(my_dict, tf)
tf.close()

c:\Users\jflores\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [12]:
tigie_63 = pd.read_excel("tigie-scian/tigie_scian_63.xlsx",
              usecols=["partida", "subsector", "descripcion"],
              dtype={"partida":str, "subsector":str}
              )

my_dict = tigie_63.to_dict()

tf = open("tigie-scian/tigie_63.json", "w")
json.dump(my_dict, tf)
tf.close()

c:\Users\jflores\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [13]:
tigie_64 = pd.read_excel("tigie-scian/tigie_scian_64.xlsx",
              usecols=["partida", "rama"],
              dtype={"partida":str, "rama":str}
              )

my_dict = tigie_64.to_dict()

tf = open("tigie-scian/tigie_64.json", "w")
json.dump(my_dict, tf)
tf.close()

c:\Users\jflores\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [14]:
tigie_66 = pd.read_excel("tigie-scian/tigie_scian_66.xlsx",
              usecols=["partida", "scian", "desc_scian"],
              dtype={"partida":str, "scian":str}
              )

my_dict = tigie_66.to_dict()

tf = open("tigie-scian/tigie_66.json", "w")
json.dump(my_dict, tf)
tf.close()

In [2]:
import requests
url = "https://raw.githubusercontent.com/jfloresbmxt/catalogos/main/tigie-scian/tigie.json"

In [10]:
r = requests.get(url)
contenido = json.loads(r.content)
pd.DataFrame(contenido)

     partida   scian subsector                      descripcion
0     970600  339999       339  Otras industrias manufactureras
1     970500  339999       339  Otras industrias manufactureras
2     970400  339999       339  Otras industrias manufactureras
3     970300  339999       339  Otras industrias manufactureras
4     970200  339999       339  Otras industrias manufactureras
...      ...     ...       ...                              ...
5200  010221  112110       112   Cría y explotación de animales
5201  010190  112920       112   Cría y explotación de animales
5202  010130  112920       112   Cría y explotación de animales
5203  010129  112920       112   Cría y explotación de animales
5204  010121  112920       112   Cría y explotación de animales

[5205 rows x 4 columns]